.ant-card-head-title {
    color: #753BBD !important;
}



@media screen and (max-width: 768px) {
    .home-your-life {
        position: absolute;
        width: 469px;
        height: 87px;
        // left: 886px;
        top: 0px;

        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        // line-height: 40px;
        /* or 118% */

        // letter-spacing: 0.03em;

        color: #000000;
    }
    
}


.homeImg {
    position: absolute;
    width: 801px;
    height: 709px;
    left: 0px;
    top: 0px;
}

@media screen and (max-width: 768px) {
    .homeImg {
        position: absolute;
    width: 310px;
    height: 87px;
    left: 44px;
    top: 821px;

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    letter-spacing: 0.03em;

    color: #000000;
    }
    
}

@media screen and (max-width: 768px) {
    .home-top-left {
        position: absolute;
        width: 433px;
        height: 87px;
        left: 0px;
        top: 350px;

        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        /* or 167% */

        letter-spacing: 0.03em;

        color: #000000;
    }  
}

@media screen  and (max-width: 768px) {

    .card-performance-award {
        // position: absolute;
        width: 400px;
        height: 87px;
        left: 0px;
        top: 180px;

        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        /* or 118% */

        letter-spacing: 0.03em;

        color: #000000;
    }

    .card-easy-location {
         position: absolute;
            width: 400px;
            height: 50px;
            left: 70px;
            top: 1200px;

            font-family: 'Red Hat Display';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 40px;
            /* or 222% */

            display: flex;
            align-items: center;

            color: #753BBD;

            margin-top: -1rem !important;

        
        
    }

    
    
        .home-card1 {
            position: absolute;
            width: 400px;
            height: 50px;
            left: 88px;
            top: 300px;
            

            font-family: 'Red Hat Display';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 40px;
            /* or 222% */

            display: flex;
            align-items: center;

            color: #753BBD;

        }

        .home-your-life-text {
            position: absolute;
            width: 346px;
            height: 295px;
            left: 1.5rem;
            top: 0px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            /* or 214% */

            display: flex;
            align-items: center;
            letter-spacing: 0.005em;

            color: #767683;

        }

        .learnmore-btn {
            margin-top: 10.5rem !important;
        }
    
}

@media screen and (max-width: 768px) {
    .homeImg {
        position: absolute;
        width: 489px;
        height: 417px;
        left: -5px;
        top: 69px;

        margin-top: -4rem;
       

    }
    
}

@media screen and (max-width: 768px) {
    .joinus-title {
       margin-top: 2rem;
    }  
}


@media screen and (max-width: 768px) {
    .card-performance-award {
       margin-top: 11rem;
       width: 437px;
       margin-right: -2rem !important;
       
       margin-left: -0.5rem !important;
    }  
    
}

.join-team {
    position: absolute;
    width: 100%;
    height: 862px;
    left: -5px;
    top: 1590px;

    background: #F9F3FF;
}

@media  screen and (max-width: 768px) {
    .joinus-title {
        font-size: 20px !important;
        margin-left: 1rem !important;


} 
}


@media screen and (max-width: 768px) {
    .team-info {
       width: 100% !important;

    }
    
}

@media screen and (max-width: 768px) {
    .recuitement-card {
        width: 306px !important;
    }
    
}


@media screen and (min-width: 768px) {
    .great-coworkers-card {
        padding: 6rem !important;
    }
    
}
@media screen and (max-width: 768px) {
    .great-coworkers-card {
        padding-top: 2rem !important;
        
        
    }
    
}


